@media screen and (max-width: 800px){
	[element="content"]>[element="body"]{
		width:800px;
	}
}

@media screen and (max-width: 1200px){
	[element="content"]>[element="body"]{
		max-width:1200px;
	}
}

@media screen and (min-width: 1200px){
	[element="content"]>[element="body"]{
		width:1200px;
		margin-left: auto;
		margin-right: auto;
	}
}